/* Start News */
.news .news-box{
    padding: 0 !important;
}
@media(max-width: 480px){
    .news .news-box{
        width: 90% !important;
        margin: 0 auto 10px !important;
    }
}
.news .news-box .last-news{
    position: relative;
}
.news .news-box .last-news::after{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.71));
    content: '';
    z-index: 2;
}
.news .news-box .last-news .news-img{
    width: 100%;
    height: 400px;
}
@media(max-width: 576px){
    .news .news-box .last-news .news-img{
        height: 300px;
    }
}
@media(max-width: 480px){
    .news .news-box .last-news .news-img{
        height: 250px;
    }
}
@media(max-width: 375px){
    .news .news-box .last-news .news-img{
        height: 220px;
    }
}
@media(max-width: 320px){
    .news .news-box .last-news .news-img{
        height: 200px;
    }
}
.news .news-box .last-news .news-img img{
    border-radius: 15px 15px 0 0;
}
.news .news-box .last-news .news-content{
    position: absolute;
    bottom: 5%;
    padding: 25px;
    z-index: 3;
}
@media(max-width: 576px){
    .news .news-box .last-news .news-content{
        padding: 10px;
    }
}
.news .news-box .last-news .news-content .news-title{
    font-size: 28px;
    line-height: 1.4;
    margin-bottom: 5px;
}
@media(max-width: 576px){
    .news .news-box .last-news .news-content .news-title{
        font-size: 23px;
    }
}
@media(max-width: 480px){
    .news .news-box .last-news .news-content .news-title{
        font-size: 20px;
    }
}
@media(max-width: 375px){
    .news .news-box .last-news .news-content .news-title{
        font-size: 18px;
    }
}
@media(max-width: 320px){
    .news .news-box .last-news .news-content .news-title{
        font-size: 16px;
    }
}
.news .news-box .last-news .news-content .news-date{
    color: #3ea3ce;
}
.news .news-box .last-news .news-content .news-date i{
    margin-left: 5px;
    float: right;
}
.news .news-box .last-news .news-content .news-date i::before{
    font-size: 17px;
    color: #ccc;
}
.news .news-box .last-news .news-content .news-date .article-date-news{
    font-size: 15px;
}
.news .news-box .last-news .news-content .news-title a{
    color: #fff;
}
.news .news-box .another-news-group{
    padding: 10px;
}
.news .news-box .another-news-group .article-news{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
}
.news .news-box .another-news-group .article-news:last-child{
    border-bottom: 0 !important;
}

.news .news-box .another-news-group .article-news .article-img-news{
    flex: 1;
    width: 100%;
    height: 80px;
    margin-left: 10px;
}
@media(min-width: 769px){
    .news .news-box .another-news-group .article-news .article-img-news{
        height: 150px;
    }
}
@media(max-width: 768px){
    .news .news-box .another-news-group .article-news .article-img-news{
        height: 100px;
    }
}
@media(max-width: 576px){
    .news .news-box .another-news-group .article-news .article-img-news{
        height: 80px;
    }
}
@media(max-width: 375px){
    .news .news-box .another-news-group .article-news .article-img-news{
        height: 70px;
    }
}
@media(max-width: 320px){
    .news .news-box .another-news-group .article-news .article-img-news{
        height: 60px;
    }
}
.news .news-box .another-news-group .article-news .article-img-news img{
    border-radius: 10px;
}

.another-news-group .article-news .article-content-news{
    flex: 3;
}
.another-news-group .article-news .article-content-news .article-title-news{
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 5px;
}
@media(max-width: 576px){
    .another-news-group .article-news .article-content-news .article-title-news{
        font-size: 17px;
    }
}
@media(max-width: 480px){
    .another-news-group .article-news .article-content-news .article-title-news{
        font-size: 16px;
    }
}
@media(max-width: 320px){
    .another-news-group .article-news .article-content-news .article-title-news{
        font-size: 15px;
    }
}
.another-news-group .article-news .article-content-news .article-title-news a{
    color: #3d7993;
}
.another-news-group .article-news .article-content-news .news-date{
    color: #666666;
}
.another-news-group .article-news .article-content-news .news-date i{
    float: right;
    margin-left: 5px;
    color: #3d7993;
}
.another-news-group .article-news .article-content-news .news-date i::before{
    font-size: 18px;
}
.another-news-group .article-news .article-content-news .article-date-news{
    font-size: 15px;
}