/* Start Splash */
/*
    .splash{
        background-image: url(../../img/splash.png);
        background-repeat: no-repeat;
        background-position: center;
        height: 538px;
        width: 100%;
        position: relative;
    }
    .splash .splash-content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
*/
